@import 'tailwindcss';

:root {
    --primary-color: #bf1e2e;
    --disabled-btn: #ccc;
    --disabled-text-btn: #757575;
    --header-height: 78px;
}

@layer base {
    html,
    body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-optical-sizing: auto;
        font-size: 1.4rem;
        line-height: 1.5;
        text-rendering: optimizeSpeed;
    }

    html {
        font-size: 62.5%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
        padding: 0;
    }

    input,
    button,
    textarea,
    select,
    form {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        font: inherit;
    }

    button:disabled {
        background: var(--disabled-btn) !important;
        color: var(--disabled-text-btn) !important;
        cursor: not-allowed !important;
        opacity: 1;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
